.app{
  height:100vh;
  display: flex;
   flex-direction: column;
   align-items: center;
   width:100vw;
}

.taskinput{
  display: flex;
  gap:20px;
}

ul li{
  display: flex;
  gap:15px;
}

ul{
  display: flex;
  flex-direction: column;
  gap:20px;
  list-style-type: circle;

 
}
